pkg/*
bin/*
src/*
src/github.com/liudng/
src/github.com/cweill/
src/github.com/alecthomas/
src/github.com/golang/
src/github.com/google/
src/github.com/gordonklaus/
src/github.com/jgautheron/
src/github.com/kisielk/
src/github.com/mdempsky/
src/github.com/mibk/
src/github.com/mvdan/
src/github.com/nsf/
src/github.com/opennota/
src/github.com/tsenart/
src/github.com/walle/
src/gopkg.in/alecthomas/
gopkg.in/alecthomas/
!pkg/.gitignore
!bin/.gitignore
!src/github.com
!src/golang.org
!src/gopkg.in
!src/qiniupkg.com
.DS_Store
