[submodule "src/github.com/astaxie/beego"]
	path = src/github.com/astaxie/beego
	url = git@github.com:astaxie/beego.git
[submodule "src/github.com/PuerkitoBio/goquery"]
	path = src/github.com/PuerkitoBio/goquery
	url = git@github.com:PuerkitoBio/goquery.git
[submodule "src/github.com/twinj/uuid"]
	path = src/github.com/twinj/uuid
	url = git@github.com:twinj/uuid.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = git@github.com:golang/net.git
[submodule "src/github.com/jinzhu/gorm"]
	path = src/github.com/jinzhu/gorm
	url = git@github.com:jinzhu/gorm.git
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = git@github.com:go-sql-driver/mysql.git
[submodule "src/github.com/garyburd/redigo"]
	path = src/github.com/garyburd/redigo
	url = git@github.com:garyburd/redigo.git
[submodule "src/github.com/beego/bee"]
	path = src/github.com/beego/bee
	url = git@github.com:beego/bee.git
[submodule "src/github.com/howeyc/fsnotify"]
	path = src/github.com/howeyc/fsnotify
	url = git@github.com:howeyc/fsnotify.git
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = git@github.com:lib/pq.git
[submodule "src/github.com/smartystreets/goconvey"]
	path = src/github.com/smartystreets/goconvey
	url = git@github.com:smartystreets/goconvey.git
[submodule "src/github.com/jtolds/gls"]
	path = src/github.com/jtolds/gls
	url = git@github.com:jtolds/gls.git
[submodule "src/github.com/smartystreets/assertions"]
	path = src/github.com/smartystreets/assertions
	url = git@github.com:smartystreets/assertions.git
[submodule "src/github.com/andybalholm/cascadia"]
	path = src/github.com/andybalholm/cascadia
	url = git@github.com:andybalholm/cascadia.git
[submodule "src/github.com/yvasiyarov/php_session_decoder"]
	path = src/github.com/yvasiyarov/php_session_decoder
	url = git@github.com:yvasiyarov/php_session_decoder.git
[submodule "src/github.com/gorilla/context"]
	path = src/github.com/gorilla/context
	url = git@github.com:gorilla/context.git
[submodule "src/github.com/gorilla/securecookie"]
	path = src/github.com/gorilla/securecookie
	url = git@github.com:gorilla/securecookie.git
[submodule "src/github.com/gorilla/sessions"]
	path = src/github.com/gorilla/sessions
	url = git@github.com:gorilla/sessions.git
[submodule "src/github.com/manucorporat/sse"]
	path = src/github.com/manucorporat/sse
	url = git@github.com:manucorporat/sse.git
[submodule "src/github.com/mattn/go-colorable"]
	path = src/github.com/mattn/go-colorable
	url = git@github.com:mattn/go-colorable.git
[submodule "src/github.com/qor/inflection"]
	path = src/github.com/qor/inflection
	url = git@github.com:qor/inflection.git
[submodule "src/gopkg.in/bluesuncorp/validator.v5"]
	path = src/gopkg.in/bluesuncorp/validator.v5
	url = https://gopkg.in/bluesuncorp/validator.v5
[submodule "src/github.com/gin-gonic/gin"]
	path = src/github.com/gin-gonic/gin
	url = git@github.com:gin-gonic/gin.git
[submodule "src/gopkg.in/natefinch/lumberjack.v2"]
	path = src/gopkg.in/natefinch/lumberjack.v2
	url = https://gopkg.in/natefinch/lumberjack.v2
[submodule "src/github.com/coocood/freecache"]
	path = src/github.com/coocood/freecache
	url = git@github.com:coocood/freecache.git
[submodule "src/github.com/mholt/caddy"]
	path = src/github.com/mholt/caddy
	url = git@github.com:caddyserver/caddy.git
[submodule "src/github.com/flynn/go-shlex"]
	path = src/github.com/flynn/go-shlex
	url = git@github.com:flynn-archive/go-shlex.git
[submodule "src/github.com/spaolacci/murmur3"]
	path = src/github.com/spaolacci/murmur3
	url = git@github.com:spaolacci/murmur3.git
[submodule "src/github.com/go-errors/errors"]
	path = src/github.com/go-errors/errors
	url = git@github.com:go-errors/errors.git
[submodule "src/github.com/go-xorm/xorm"]
	path = src/github.com/go-xorm/xorm
	url = https://gitea.com/xorm/xorm.git
[submodule "src/github.com/go-xorm/core"]
	path = src/github.com/go-xorm/core
	url = https://gitea.com/xorm/core.git
[submodule "src/github.com/gwoo/goforever"]
	path = src/github.com/gwoo/goforever
	url = git@github.com:gwoo/goforever.git
[submodule "src/github.com/gwoo/greq"]
	path = src/github.com/gwoo/greq
	url = git@github.com:gwoo/greq.git
[submodule "src/github.com/BurntSushi/toml"]
	path = src/github.com/BurntSushi/toml
	url = git@github.com:BurntSushi/toml.git
[submodule "src/github.com/tealeg/xlsx"]
	path = src/github.com/tealeg/xlsx
	url = git@github.com:tealeg/xlsx.git
[submodule "src/qiniupkg.com/api.v7"]
	path = src/qiniupkg.com/api.v7
	url = git@github.com:qiniu/api.v7.git
[submodule "src/qiniupkg.com/x"]
	path = src/qiniupkg.com/x
	url = git@github.com:qiniu/x.git
[submodule "src/github.com/lxn/walk"]
	path = src/github.com/lxn/walk
	url = git@github.com:lxn/walk.git
[submodule "src/github.com/akavel/rsrc"]
	path = src/github.com/akavel/rsrc
	url = git@github.com:akavel/rsrc.git
[submodule "src/github.com/lxn/win"]
	path = src/github.com/lxn/win
	url = git@github.com:lxn/win.git
[submodule "src/github.com/robfig/cron"]
	path = src/github.com/robfig/cron
	url = git@github.com:robfig/cron.git
[submodule "src/golang.org/x/tools"]
	path = src/golang.org/x/tools
	url = git@github.com:golang/tools.git
[submodule "src/github.com/russross/blackfriday"]
	path = src/github.com/russross/blackfriday
	url = git@github.com:russross/blackfriday.git
[submodule "src/github.com/shurcooL/sanitized_anchor_name"]
	path = src/github.com/shurcooL/sanitized_anchor_name
	url = git@github.com:shurcooL/sanitized_anchor_name.git
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = git@github.com:golang/crypto.git
[submodule "src/github.com/dchest/captcha"]
	path = src/github.com/dchest/captcha
	url = git@github.com:dchest/captcha.git
[submodule "src/github.com/k0kubun/pp"]
	path = src/github.com/k0kubun/pp
	url = git@github.com:k0kubun/pp.git
[submodule "src/github.com/facebookgo/grace"]
	path = src/github.com/facebookgo/grace
	url = git@github.com:facebookgo/grace.git
[submodule "src/github.com/facebookgo/httpdown"]
	path = src/github.com/facebookgo/httpdown
	url = git@github.com:facebookgo/httpdown.git
[submodule "src/github.com/facebookgo/clock"]
	path = src/github.com/facebookgo/clock
	url = git@github.com:facebookgo/clock.git
[submodule "src/github.com/facebookgo/stats"]
	path = src/github.com/facebookgo/stats
	url = git@github.com:facebookgo/stats.git
[submodule "src/github.com/shopspring/decimal"]
	path = src/github.com/shopspring/decimal
	url = git@github.com:shopspring/decimal.git
[submodule "src/github.com/juju/ratelimit"]
	path = src/github.com/juju/ratelimit
	url = git@github.com:juju/ratelimit.git
[submodule "src/github.com/didip/tollbooth"]
	path = src/github.com/didip/tollbooth
	url = git@github.com:didip/tollbooth.git
[submodule "src/github.com/pili-engineering/pili-sdk-go.v2"]
	path = src/github.com/pili-engineering/pili-sdk-go.v2
	url = git@github.com:pili-engineering/pili-sdk-go.v2.git
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = git@github.com:gorilla/websocket.git
[submodule "src/github.com/TrueFurby/go-callvis"]
	path = src/github.com/TrueFurby/go-callvis
	url = git@github.com:TrueFurby/go-callvis.git
[submodule "src/github.com/boombuler/barcode"]
	path = src/github.com/boombuler/barcode
	url = git@github.com:boombuler/barcode.git
[submodule "src/github.com/joho/godotenv"]
	path = src/github.com/joho/godotenv
	url = git@github.com:joho/godotenv.git
[submodule "src/github.com/nsqio/go-nsq"]
	path = src/github.com/nsqio/go-nsq
	url = git@github.com:nsqio/go-nsq.git
[submodule "src/github.com/golang/snappy"]
	path = src/github.com/golang/snappy
	url = git@github.com:golang/snappy.git
[submodule "src/github.com/therecipe/qt"]
	path = src/github.com/therecipe/qt
	url = git@github.com:therecipe/qt.git
[submodule "src/github.com/Sirupsen/logrus"]
	path = src/github.com/Sirupsen/logrus
	url = git@github.com:Sirupsen/logrus.git
[submodule "src/github.com/djimenez/iconv-go"]
	path = src/github.com/djimenez/iconv-go
	url = git@github.com:djimenez/iconv-go.git
[submodule "src/github.com/rakyll/hey"]
	path = src/github.com/rakyll/hey
	url = git@github.com:rakyll/hey.git
[submodule "src/gopkg.in/gomail.v2"]
	path = src/gopkg.in/gomail.v2
	url = git@github.com:go-gomail/gomail.git
[submodule "src/github.com/jacobsa/go-serial"]
	path = src/github.com/jacobsa/go-serial
	url = git@github.com:jacobsa/go-serial.git
[submodule "src/github.com/rs/cors"]
	path = src/github.com/rs/cors
	url = git@github.com:rs/cors.git
[submodule "src/github.com/mattn/go-sqlite3"]
	path = src/github.com/mattn/go-sqlite3
	url = git@github.com:mattn/go-sqlite3.git
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = git@github.com:golang/sys.git
[submodule "src/gopkg.in/redsync.v1"]
	path = src/gopkg.in/redsync.v1
	url = git@github.com:go-redsync/redsync.git
[submodule "src/github.com/streadway/amqp"]
	path = src/github.com/streadway/amqp
	url = git@github.com:streadway/amqp.git
[submodule "src/github.com/upyun/go-sdk"]
	path = src/github.com/upyun/go-sdk
	url = git@github.com:upyun/go-sdk.git
[submodule "src/github.com/Pallinder/go-iap"]
	path = src/github.com/Pallinder/go-iap
	url = https://github.com/Pallinder/go-iap.git
[submodule "src/github.com/aliyun/aliyun-oss-go-sdk"]
	path = src/github.com/aliyun/aliyun-oss-go-sdk
	url = git@github.com:aliyun/aliyun-oss-go-sdk.git
[submodule "src/github.com/qiniu/api.v7"]
	path = src/github.com/qiniu/api.v7
	url = git@github.com:qiniu/api.v7.git
[submodule "src/github.com/qiniu/x"]
	path = src/github.com/qiniu/x
	url = git@github.com:qiniu/x.git
[submodule "src/github.com/aliyun/alibaba-cloud-sdk-go"]
	path = src/github.com/aliyun/alibaba-cloud-sdk-go
	url = git@github.com:aliyun/alibaba-cloud-sdk-go.git
[submodule "src/github.com/dgrijalva/jwt-go"]
	path = src/github.com/dgrijalva/jwt-go
	url = git@github.com:dgrijalva/jwt-go.git
[submodule "src/github.com/axgle/mahonia"]
	path = src/github.com/axgle/mahonia
	url = git@github.com:axgle/mahonia.git
[submodule "src/github.com/rcrowley/go-metrics"]
	path = src/github.com/rcrowley/go-metrics
	url = git@github.com:rcrowley/go-metrics.git
[submodule "src/github.com/influxdata/influxdb1-client"]
	path = src/github.com/influxdata/influxdb1-client
	url = git@github.com:influxdata/influxdb1-client.git
[submodule "src/gopkg.in/Knetic/govaluate.v3"]
	path = src/gopkg.in/Knetic/govaluate.v3
	url = git@github.com:Knetic/govaluate.git
[submodule "src/github.com/mattn/go-isatty"]
	path = src/github.com/mattn/go-isatty
	url = git@github.com:mattn/go-isatty.git
