[submodule "src/github.com/astaxie/beego"]
	path = src/github.com/astaxie/beego
	url = git@github.com:astaxie/beego.git
[submodule "src/github.com/PuerkitoBio/goquery"]
	path = src/github.com/PuerkitoBio/goquery
	url = git@github.com:PuerkitoBio/goquery.git
[submodule "src/github.com/twinj/uuid"]
	path = src/github.com/twinj/uuid
	url = git@github.com:twinj/uuid.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = git@github.com:golang/net.git
[submodule "src/github.com/jinzhu/gorm"]
	path = src/github.com/jinzhu/gorm
	url = git@github.com:jinzhu/gorm.git
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = git@github.com:go-sql-driver/mysql.git
[submodule "src/github.com/garyburd/redigo"]
	path = src/github.com/garyburd/redigo
	url = git@github.com:garyburd/redigo.git
[submodule "src/github.com/beego/bee"]
	path = src/github.com/beego/bee
	url = git@github.com:beego/bee.git
[submodule "src/github.com/howeyc/fsnotify"]
	path = src/github.com/howeyc/fsnotify
	url = git@github.com:howeyc/fsnotify.git
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = git@github.com:lib/pq.git
[submodule "src/github.com/smartystreets/goconvey"]
	path = src/github.com/smartystreets/goconvey
	url = git@github.com:smartystreets/goconvey.git
[submodule "src/github.com/jtolds/gls"]
	path = src/github.com/jtolds/gls
	url = git@github.com:jtolds/gls.git
[submodule "src/github.com/smartystreets/assertions"]
	path = src/github.com/smartystreets/assertions
	url = git@github.com:smartystreets/assertions.git
[submodule "src/github.com/andybalholm/cascadia"]
	path = src/github.com/andybalholm/cascadia
	url = git@github.com:andybalholm/cascadia.git
[submodule "src/github.com/yvasiyarov/php_session_decoder"]
	path = src/github.com/yvasiyarov/php_session_decoder
	url = git@github.com:yvasiyarov/php_session_decoder.git
[submodule "src/github.com/gorilla/context"]
	path = src/github.com/gorilla/context
	url = git@github.com:gorilla/context.git
[submodule "src/github.com/gorilla/securecookie"]
	path = src/github.com/gorilla/securecookie
	url = git@github.com:gorilla/securecookie.git
[submodule "src/github.com/gorilla/sessions"]
	path = src/github.com/gorilla/sessions
	url = git@github.com:gorilla/sessions.git
[submodule "src/github.com/manucorporat/sse"]
	path = src/github.com/manucorporat/sse
	url = git@github.com:manucorporat/sse.git
[submodule "src/github.com/mattn/go-colorable"]
	path = src/github.com/mattn/go-colorable
	url = git@github.com:mattn/go-colorable.git
[submodule "src/github.com/qor/inflection"]
	path = src/github.com/qor/inflection
	url = git@github.com:qor/inflection.git
[submodule "src/gopkg.in/bluesuncorp/validator.v5"]
	path = src/gopkg.in/bluesuncorp/validator.v5
	url = https://gopkg.in/bluesuncorp/validator.v5
[submodule "src/github.com/gin-gonic/gin"]
	path = src/github.com/gin-gonic/gin
	url = git@github.com:gin-gonic/gin.git
[submodule "src/gopkg.in/natefinch/lumberjack.v2"]
	path = src/gopkg.in/natefinch/lumberjack.v2
	url = https://gopkg.in/natefinch/lumberjack.v2
[submodule "src/github.com/coocood/freecache"]
	path = src/github.com/coocood/freecache
	url = git@github.com:coocood/freecache.git
[submodule "src/github.com/mholt/caddy"]
	path = src/github.com/mholt/caddy
	url = git@github.com:mholt/caddy.git
[submodule "src/github.com/flynn/go-shlex"]
	path = src/github.com/flynn/go-shlex
	url = git@github.com:flynn-archive/go-shlex.git
[submodule "src/github.com/spaolacci/murmur3"]
	path = src/github.com/spaolacci/murmur3
	url = git@github.com:spaolacci/murmur3.git
[submodule "src/github.com/go-errors/errors"]
	path = src/github.com/go-errors/errors
	url = git@github.com:go-errors/errors.git
[submodule "src/github.com/go-xorm/xorm"]
	path = src/github.com/go-xorm/xorm
	url = git@github.com:go-xorm/xorm.git
[submodule "src/github.com/go-xorm/core"]
	path = src/github.com/go-xorm/core
	url = git@github.com:go-xorm/core.git
[submodule "src/github.com/gwoo/goforever"]
	path = src/github.com/gwoo/goforever
	url = git@github.com:gwoo/goforever.git
[submodule "src/github.com/gwoo/greq"]
	path = src/github.com/gwoo/greq
	url = git@github.com:gwoo/greq.git
[submodule "src/github.com/BurntSushi/toml"]
	path = src/github.com/BurntSushi/toml
	url = git@github.com:BurntSushi/toml.git
